<!DOCTYPE html>
<html ng-app='Shoplist'>
<head>
  <title>Hiku</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>

<%= yield %>

</div>
<footer>
  <address>&copy; Copyright <%= Time.now.year %> All Rights Reserved <a href="http://www.hiku.us" id="hiku-footer">Hiku.us</a>
</footer>
</body>
</html>
